@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>错误日志列表</title>
    <link href="~/Content/layui2.0/css/layui.css?v=18" rel="stylesheet" />
    <link href="~/Content/framework/css/console.css" rel="stylesheet" />
    <link href="~/Content/framework/css/animate.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <style type="text/css">
        .breathe-btn {
            position: relative;
            border: 0px solid #2b92d4;
            border-radius: 5px;
            color: #fff;
            text-align: center;
            cursor: pointer;
            box-shadow: 0 1px 2px rgba(0,0,0,.3);
            overflow: hidden;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#6cc3fe), to(#21a1d0));
            -webkit-animation-timing-function: ease-in-out;
            -webkit-animation-name: breathe;
            -webkit-animation-duration: 2700ms;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-direction: alternate;
        }

        @@-webkit-keyframes breathe {
            0% {
                opacity: .2;
                box-shadow: 0 1px 2px rgba(255,255,255,0.1);
            }

            100% {
                opacity: 1;
                box-shadow: 0 1px 30px rgba(59,255,255,1);
            }
        }
    </style>
    <style>
        .layui-input, .layui-select, .layui-textarea {
            height: 30px;
            width: 120px;
            line-height: 30px;
            line-height: 36px\9;
            border: 1px solid #e6e6e6;
            background-color: #fff;
            border-radius: 2px;
        }
    </style>

</head>
<body>
    <div class="panel animated fadeIn">
        <div class="panel-body">
            <div id="toolbar" class="elight-table-toolbar">
                <div class="layui-btn-group"></div>
                <button id="btnSearch" class="toolbar-search-button layui-btn layui-btn-normal layui-btn-small">
                    <i class="layui-icon">&#xe615;</i>
                </button>
                <form id="form" class="layui-form" style="float:right;width:460px;">
                    <div class="layui-inline" style="float: right;width:50%;">
                        <label class="layui-form-label" style="top:-3px;">筛选类别</label>
                        <div class="layui-input-inline">
                            <select id="SD_EKPI_CAT" lay-verify="required">
                                <option value="">请选择类别</option>
                                <option value="1">入组</option>
                                <option value="2">数据项</option>
                                <option value="3">指标</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <table id="gridList" class="layui-table" lay-filter="gridData" style="margin-top:0px;">
                <thead>
                    <tr></tr>
                </thead>
            </table>
        </div>
    </div>
</body>
</html>

<script src="~/Content/jquery/jquery.min.js"></script>
<script src="~/Content/layui2.0/layui.js"></script>
<script src="~/Content/framework/js/global.js"></script>
<script src="~/Content/jquery/jquery.cookie.js"></script>
<script src="~/Content/jquery/jquery.md5.js"></script>

<script type="text/html" id="TypeName">
    {{# if(d.ERROR_CAT_CODE==1){ }}入组
    {{# }else if(d.ERROR_CAT_CODE==2) { }}数据项
    {{# }else if(d.ERROR_CAT_CODE==3){ }}指标
    {{# }else { }}[未指定]
    {{# } }}
</script>

<script type="text/javascript">
    var totalCount;
    var layer;
    var table;
    var currentPage;
    var itemList;
    layui.use(['table', 'layer', 'form', 'laypage'], function () {
        table = layui.table;
        layer = parent.layer || layui.layer;
        var form = layui.form;
        $("#toolbar").authorizeButton();
        $('#btnSearch').click(btn_searchKeyWord);
        initGrid();
    });

    function initGrid() {
        console.log($("[href]").val() == "")
        table.render({
            id: 'grid',
            elem: '#gridList',
            url: '/TestCenterSystem/ErrorLog/GetList',
            page: true,
            height: 500,
            limits: [10, 20, 30, 40, 50, 1000],
            limit: $("[href]").val() == "" ? 10 : parseInt($("[href]").val()),
            cols: [[
                { field: 'ERROR_CAT_CODE', title: '类别', width: 120, align: 'center', sort: true, fixed: true, toolbar: '#TypeName' },
                { field: 'SD_CPAT_NO', title: 'PatientNo', style: 'width:5%', width: 150, align: 'center' },
                { field: 'PROC_URL', title: '执行url', style: 'width:50%', width: 300 },
                { field: 'ERR_CONTENT', title: '错误信息', style: 'width:70%', width: 900 },
                { fixed: 'right', field: 'UPD_DATE', title: '时间', width: 170, sort: true, align: 'center' }//
            ]],
            done: function (res, curr, count) {
                currentPage = curr;
                totalCount = count;
            }
        });
    }

    //搜索关键词
    function btn_searchKeyWord() {
        table.reload('grid', {
            where: {
                keyWord: $('#SD_EKPI_CAT').val()
            },
            curr: 1
        });
    }
</script>