@{
    ViewBag.Title = "新增检查字典";
    Layout = "~/Views/Shared/_Form.cshtml";
}

@*<div id="form" class="layui-form" @*class="panel-body" style="margin-top: -10px;padding-top:10px">*@
<form id="form" class="layui-form" style="margin-top: -10px;padding-top:10px">
    <div class="layui-form" style="margin-top:15px">
        @Html.AntiForgeryToken()

        <div class="layui-form-item" style="margin-top:30px">
            
            <label class="layui-form-label" style="text-align: left; left: 50px">类别：</label>
            <div class="layui-input-inline" style="text-align: left; left: 50px ;width:390px" >

                <select lay-filter="selectType" id="selectType"name="TERM_CAT_NAME"  lay-verify="required">
                    <option value="" >请选择类别</option>
                    @{
                        if (ViewBag.ItemType == null)
                        {
                        }
                        else
                        {
                            var list = ViewBag.ItemType;
                            for (var i = 0; i < list.Count; i++)
                            {
                                <option value="@list[i].TERM_CAT_NAME">@list[i].TERM_CAT_NAME</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>
        <div class="layui-form-item"style="margin-top:30px">
            <label class="layui-form-label" style="text-align: left; left: 50px">编码：</label>
            <div class="layui-inline" style="text-align: left; left: 50px">
                <input type="text" name="OTH_TERM_CODE" style="width: 390px" lay-verify="code" placeholder="请输入编码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item"style="margin-top:30px">
            <label class="layui-form-label" style="text-align: left; left: 50px">名称：</label>
            <div class="layui-inline" style="text-align: left; left: 50px">
                <input type="text" name="OTH_TERM_NAME" style="width: 390px" lay-verify="name|required" placeholder="请输入名称" autocomplete="off" class="layui-input">
            </div>
            <input type="hidden" name="OTH_TERM_MAP_ID" />
        </div>

    </div>
    <div class="layui-form-item" style="display: none">
        <div class="layui-input-block">
            <button id="btnSubmit" class="layui-btn" lay-submit lay-filter="add">提交</button>
        </div>
    </div>
</form>
@*</div>*@
<script>

    layui.use(['form', 'layedit'], function () {
        var form = layui.form();
        var layedit = layui.layedit;

        var primaryKey = $.getQueryString("primaryKey");
        if (primaryKey) {
            $.ajax({
                url: "/TestCenterSystem/CheckDic/GetForm",
                data: { primaryKey: primaryKey },
                type: "post",
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form").formSerialize(data);
                }
            });
        } 
         
        form.on('select(selectType)', function (data) {
            $.ajax({
                url: "/TestCenterSystem/CheckDic/GetTypeNameList",
                data: { typeId: data.value },
                type: "post",
                dataType: "json",
                success: function (data) {
                    form.render('select');
                }
            });
        });
        //自定义验证规则
        form.verify({
            code: function (value) {
                if (value.length > 60) {
                    return '编码不能超过60个字符';
                }
                //var regex = /^[a-zA-Z0-9_]{1,}$/;
                //var objExp = new RegExp(regex);
                //if (objExp.test(value) != true)
                //    return '编码只能包含字母、数字和下划线';
            },
            name: function (value) {
                var strlength = getLength(value);
                if (strlength > 200) {
                    return '名称不能超过200个字符';
                }
            }

        });
        function getLength(value) {
            var strlength = 0;
            for (var i = 0; i < value.length; i++) {
                if (isCN(value.charAt(i)) == true) {
                    strlength = strlength + 2; //中文为2个字符
                } else {
                    strlength = strlength + 1; //英文一个字符
                }
            }
            return strlength;
        }
        function isCN(str) { //判断是不是中文
            var regexCh = /[u00-uff]/;
            return !regexCh.test(str);
        }

        form.render();
        //提交
        form.on('submit(add)', function (data) {
            $.formSubmit({
                url: "/TestCenterSystem/CheckDic/Form",/*获取窗体的路径 action*/
                data: data.field
            });
            return false;
        });

    });
    

</script>
