USE [Elight_v1.0]
GO
/****** Object:  Table [dbo].[Sys_Item]    Script Date: 2017/7/12 11:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Item](
	[Id] [varchar](50) NOT NULL CONSTRAINT [DF_Sys_Item_Id]  DEFAULT (newid()),
	[EnCode] [varchar](50) NULL,
	[ParentId] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Layer] [int] NULL,
	[SortCode] [int] NULL,
	[IsTree] [bit] NULL,
	[DeleteMark] [bit] NULL,
	[IsEnabled] [bit] NULL,
	[Remark] [varchar](500) NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ModifyUser] [varchar](50) NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_Sys_Item] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_ItemsDetail]    Script Date: 2017/7/12 11:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_ItemsDetail](
	[Id] [varchar](50) NOT NULL CONSTRAINT [DF_Sys_ItemsDetail_Id]  DEFAULT (newid()),
	[ItemId] [varchar](50) NULL,
	[EnCode] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[IsDefault] [bit] NULL,
	[SortCode] [int] NULL,
	[DeleteMark] [bit] NULL,
	[IsEnabled] [bit] NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ModifyUser] [varchar](50) NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_Sys_ItemsDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_Log]    Script Date: 2017/7/12 11:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Log](
	[Id] [varchar](50) NOT NULL,
	[CreateTime] [datetime] NULL,
	[LogLevel] [varchar](50) NULL,
	[Operation] [varchar](50) NULL,
	[Message] [varchar](500) NULL,
	[Account] [varchar](50) NULL,
	[RealName] [varchar](50) NULL,
	[IP] [varchar](50) NULL,
	[IPAddress] [varchar](50) NULL,
	[Browser] [varchar](50) NULL,
	[StackTrace] [varchar](500) NULL,
 CONSTRAINT [PK_Sys_Log] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_Organize]    Script Date: 2017/7/12 11:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Organize](
	[Id] [varchar](50) NOT NULL CONSTRAINT [DF_Sys_Organize_Id]  DEFAULT (newid()),
	[ParentId] [varchar](50) NULL,
	[Layer] [int] NULL,
	[EnCode] [varchar](50) NULL,
	[FullName] [varchar](50) NULL,
	[Type] [smallint] NULL,
	[ManagerId] [varchar](50) NULL,
	[TelePhone] [varchar](50) NULL,
	[WeChat] [varchar](50) NULL,
	[Fax] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[SortCode] [int] NULL,
	[DeleteMark] [bit] NULL,
	[IsEnabled] [bit] NULL,
	[Remark] [varchar](500) NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ModifyUser] [varchar](50) NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_Sys_Organize] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_Permission]    Script Date: 2017/7/12 11:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Permission](
	[Id] [varchar](50) NOT NULL CONSTRAINT [DF_Sys_Permission_Id]  DEFAULT (newid()),
	[ParentId] [varchar](50) NULL,
	[Layer] [int] NULL,
	[EnCode] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[JsEvent] [varchar](50) NULL,
	[Icon] [varchar](50) NULL,
	[Url] [varchar](300) NULL,
	[Remark] [varchar](500) NULL,
	[Type] [int] NULL,
	[SortCode] [int] NULL,
	[IsPublic] [bit] NULL CONSTRAINT [DF_Sys_Permission_IsPublic]  DEFAULT ((0)),
	[IsEnable] [bit] NULL CONSTRAINT [DF_Sys_Permission_IsEnable]  DEFAULT ((1)),
	[IsEdit] [bit] NULL CONSTRAINT [DF_Sys_Permission_IsEdit]  DEFAULT ((1)),
	[DeleteMark] [bit] NULL CONSTRAINT [DF_Sys_Permission_DeleteMark]  DEFAULT ((0)),
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ModifyUser] [varchar](50) NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_Sys_Permission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_Role]    Script Date: 2017/7/12 11:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_Role](
	[Id] [varchar](50) NOT NULL CONSTRAINT [DF_Sys_Role_Id]  DEFAULT (newid()),
	[OrganizeId] [varchar](50) NULL,
	[EnCode] [varchar](50) NULL,
	[Type] [smallint] NULL,
	[Name] [varchar](50) NULL,
	[AllowEdit] [bit] NULL,
	[DeleteMark] [bit] NULL,
	[IsEnabled] [bit] NULL,
	[Remark] [varchar](500) NULL,
	[SortCode] [int] NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ModifyUser] [varchar](50) NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_Sys_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_RoleAuthorize]    Script Date: 2017/7/12 11:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_RoleAuthorize](
	[Id] [varchar](50) NOT NULL CONSTRAINT [DF_Sys_RoleAuthorize_Id]  DEFAULT (newid()),
	[RoleId] [varchar](50) NULL,
	[ModuleId] [varchar](50) NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
 CONSTRAINT [PK_Sys_RoleAuthorize] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_User]    Script Date: 2017/7/12 11:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_User](
	[Id] [varchar](50) NOT NULL CONSTRAINT [DF_Sys_User_Id]  DEFAULT (newid()),
	[Account] [varchar](50) NULL,
	[RealName] [varchar](50) NULL,
	[NickName] [varchar](50) NULL,
	[Avatar] [varchar](200) NULL,
	[Gender] [bit] NULL,
	[Birthday] [datetime] NULL,
	[MobilePhone] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
	[Signature] [varchar](500) NULL,
	[Address] [varchar](500) NULL,
	[CompanyId] [varchar](50) NULL,
	[DepartmentId] [varchar](50) NULL,
	[IsEnabled] [bit] NULL,
	[SortCode] [int] NULL,
	[DeleteMark] [bit] NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ModifyUser] [varchar](50) NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_Sys_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_UserLogOn]    Script Date: 2017/7/12 11:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_UserLogOn](
	[Id] [varchar](50) NOT NULL CONSTRAINT [DF_Sys_UserLogOn_Id]  DEFAULT (newid()),
	[UserId] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[SecretKey] [varchar](50) NULL,
	[PrevVisitTime] [datetime] NULL,
	[LastVisitTime] [datetime] NULL,
	[ChangePwdTime] [datetime] NULL,
	[LoginCount] [int] NOT NULL CONSTRAINT [DF_Sys_UserLogin_LoginCount]  DEFAULT ((0)),
	[AllowMultiUserOnline] [bit] NULL,
	[IsOnLine] [bit] NULL,
	[Question] [varchar](100) NULL,
	[AnswerQuestion] [varchar](200) NULL,
	[CheckIPAddress] [bit] NULL,
	[Language] [varchar](50) NULL,
	[Theme] [varchar](50) NULL,
 CONSTRAINT [PK_Sys_UserLogOn] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sys_UserRoleRelation]    Script Date: 2017/7/12 11:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sys_UserRoleRelation](
	[Id] [varchar](50) NOT NULL CONSTRAINT [DF_Sys_UserRoleRelation_Id]  DEFAULT (newid()),
	[UserId] [varchar](50) NULL,
	[RoleId] [varchar](50) NULL,
	[CreateUser] [varchar](50) NULL,
	[CreateTime] [datetime] NULL,
 CONSTRAINT [PK_Sys_UserRoleRelation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Sys_Item] ([Id], [EnCode], [ParentId], [Name], [Layer], [SortCode], [IsTree], [DeleteMark], [IsEnabled], [Remark], [CreateUser], [CreateTime], [ModifyUser], [ModifyTime]) VALUES (N'0e9a3b52-1cfc-41a4-8f6d-3ed8b321aecf', N'xueli', N'8238c495-8376-4004-9a34-56d0dcbd11ea', N'学历', 1, 3, NULL, 0, 1, NULL, NULL, NULL, N'admin', CAST(N'2017-05-13 19:14:25.013' AS DateTime))
INSERT [dbo].[Sys_Item] ([Id], [EnCode], [ParentId], [Name], [Layer], [SortCode], [IsTree], [DeleteMark], [IsEnabled], [Remark], [CreateUser], [CreateTime], [ModifyUser], [ModifyTime]) VALUES (N'7b247f60-4095-4ffe-96e0-1935a25852de', N'hunyin', N'8238c495-8376-4004-9a34-56d0dcbd11ea', N'婚姻', 1, 4, NULL, 0, 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_Item] ([Id], [EnCode], [ParentId], [Name], [Layer], [SortCode], [IsTree], [DeleteMark], [IsEnabled], [Remark], [CreateUser], [CreateTime], [ModifyUser], [ModifyTime]) VALUES (N'8238c495-8376-4004-9a34-56d0dcbd11ea', N'all_items', N'0', N'数据字典', 0, 0, NULL, 0, 1, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_ItemsDetail] ([Id], [ItemId], [EnCode], [Name], [IsDefault], [SortCode], [DeleteMark], [IsEnabled], [CreateUser], [CreateTime], [ModifyUser], [ModifyTime]) VALUES (N'14f0c64a-f3d8-439d-bc0a-d9a5a41a2d46', N'd2f966ba-d541-4ac9-8837-b5303d5c3502', N'org-team', N'小组', 0, 4, 0, 1, NULL, NULL, N'admin', CAST(N'2017-07-12 11:00:47.137' AS DateTime))
INSERT [dbo].[Sys_ItemsDetail] ([Id], [ItemId], [EnCode], [Name], [IsDefault], [SortCode], [DeleteMark], [IsEnabled], [CreateUser], [CreateTime], [ModifyUser], [ModifyTime]) VALUES (N'16c3d367-d63e-4426-9745-ed6824e8454d', N'0e9a3b52-1cfc-41a4-8f6d-3ed8b321aecf', N'shuoshi', N'硕士', 0, 7, 0, 1, N'admin', CAST(N'2017-04-29 16:49:54.183' AS DateTime), N'admin', CAST(N'2017-04-29 16:49:54.183' AS DateTime))
INSERT [dbo].[Sys_ItemsDetail] ([Id], [ItemId], [EnCode], [Name], [IsDefault], [SortCode], [DeleteMark], [IsEnabled], [CreateUser], [CreateTime], [ModifyUser], [ModifyTime]) VALUES (N'557427ff-8bb7-4e8b-ba3d-91f31ab02b59', N'0e9a3b52-1cfc-41a4-8f6d-3ed8b321aecf', N'xiaoxue', N'小学及以下', 0, 1, 0, 1, N'admin', CAST(N'2017-04-29 16:44:34.410' AS DateTime), N'admin', CAST(N'2017-04-29 16:50:15.873' AS DateTime))
INSERT [dbo].[Sys_Log] ([Id], [CreateTime], [LogLevel], [Operation], [Message], [Account], [RealName], [IP], [IPAddress], [Browser], [StackTrace]) VALUES (N'04c3bca8-94d9-4642-958b-46d2747c3572', CAST(N'2017-07-11 09:40:46.390' AS DateTime), N'INFO', N'系统登录', N'密码错误', N'admin', N'高阳', N'172.16.6.3', N'未分配或者内网IP', N'Chrome 58.0', N'<no type>.lambda_method => AccountController.Login => LogHelper.Write')
INSERT [dbo].[Sys_Log] ([Id], [CreateTime], [LogLevel], [Operation], [Message], [Account], [RealName], [IP], [IPAddress], [Browser], [StackTrace]) VALUES (N'068ea9bb-3d27-4686-a5e7-fb7ff9450807', CAST(N'2017-07-10 15:07:47.547' AS DateTime), N'INFO', N'系统登录', N'登录成功', N'admin', N'高阳', N'192.168.1.107', N'未分配或者内网IP', N'Chrome 58.0', N'<no type>.lambda_method => AccountController.Login => LogHelper.Write')
INSERT [dbo].[Sys_Log] ([Id], [CreateTime], [LogLevel], [Operation], [Message], [Account], [RealName], [IP], [IPAddress], [Browser], [StackTrace]) VALUES (N'0d6bd0e5-9b89-442f-898e-7e35b7571642', CAST(N'2017-07-06 15:02:37.133' AS DateTime), N'INFO', N'系统登录', N'登录成功', N'admin', N'高阳', N'172.16.6.3', N'未分配或者内网IP', N'Chrome 58.0', N'<no type>.lambda_method => AccountController.Login => LogHelper.Write')
INSERT [dbo].[Sys_Organize] ([Id], [ParentId], [Layer], [EnCode], [FullName], [Type], [ManagerId], [TelePhone], [WeChat], [Fax], [Email], [Address], [SortCode], [DeleteMark], [IsEnabled], [Remark], [CreateUser], [CreateTime], [ModifyUser], [ModifyTime]) VALUES (N'25fa48f8-00d3-4b5d-bee9-b49324410906', N'771b628b-e43c-4592-b1ef-70ea23b0e3f2', 0, N'market', N'市场部', 1, NULL, NULL, NULL, NULL, NULL, NULL, 20, 0, 1, NULL, NULL, NULL, N'admin', CAST(N'2017-04-04 17:59:32.370' AS DateTime))
INSERT [dbo].[Sys_Organize] ([Id], [ParentId], [Layer], [EnCode], [FullName], [Type], [ManagerId], [TelePhone], [WeChat], [Fax], [Email], [Address], [SortCode], [DeleteMark], [IsEnabled], [Remark], [CreateUser], [CreateTime], [ModifyUser], [ModifyTime]) VALUES (N'2a871804-5c78-481f-a167-7874b56a54d7', N'771b628b-e43c-4592-b1ef-70ea23b0e3f2', 0, N'afterSale', N'售后部', 1, NULL, NULL, NULL, NULL, NULL, NULL, 70, 0, 1, NULL, NULL, NULL, N'admin', CAST(N'2017-07-12 10:49:09.703' AS DateTime))
INSERT [dbo].[Sys_Organize] ([Id], [ParentId], [Layer], [EnCode], [FullName], [Type], [ManagerId], [TelePhone], [WeChat], [Fax], [Email], [Address], [SortCode], [DeleteMark], [IsEnabled], [Remark], [CreateUser], [CreateTime], [ModifyUser], [ModifyTime]) VALUES (N'339a409a-a5a6-49b4-9071-86d7699a9ddd', N'771b628b-e43c-4592-b1ef-70ea23b0e3f2', 0, N'administration', N'行政人事部', 1, NULL, NULL, NULL, NULL, NULL, NULL, 40, 0, 1, NULL, NULL, NULL, N'admin', CAST(N'2017-07-12 10:48:56.980' AS DateTime))
INSERT [dbo].[Sys_Permission] ([Id], [ParentId], [Layer], [EnCode], [Name], [JsEvent], [Icon], [Url], [Remark], [Type], [SortCode], [IsPublic], [IsEnable], [IsEdit], [DeleteMark], [CreateUser], [CreateTime], [ModifyUser], [ModifyTime]) VALUES (N'026550fd-2578-42ae-a041-625cda12325f', N'855f3590-b233-4224-aaff-47fb95c8353d', 2, N'role-add', N'新增角色', N'btn_add()', N'
fa fa-plus-square-o', N'/System/Role/Form', NULL, 1, 10301, 0, 1, 1, 0, N'admin', CAST(N'2017-03-28 16:30:21.277' AS DateTime), N'admin', CAST(N'2017-03-28 16:30:21.277' AS DateTime))
INSERT [dbo].[Sys_Permission] ([Id], [ParentId], [Layer], [EnCode], [Name], [JsEvent], [Icon], [Url], [Remark], [Type], [SortCode], [IsPublic], [IsEnable], [IsEdit], [DeleteMark], [CreateUser], [CreateTime], [ModifyUser], [ModifyTime]) VALUES (N'069f00f6-2a82-4bbe-90d6-418f37d5ef1f', N'3c69e3fb-e1fe-4911-8417-6f6d55a1ce72', 2, N'item-detail', N'查看选项', N'btn_detail()', N'fa fa-eye', N'/System/ItemsDetail/Detail', NULL, 1, 10505, 0, 1, 1, 0, N'admin', CAST(N'2017-04-04 20:16:02.347' AS DateTime), N'admin', CAST(N'2017-04-04 20:18:13.513' AS DateTime))
INSERT [dbo].[Sys_Permission] ([Id], [ParentId], [Layer], [EnCode], [Name], [JsEvent], [Icon], [Url], [Remark], [Type], [SortCode], [IsPublic], [IsEnable], [IsEdit], [DeleteMark], [CreateUser], [CreateTime], [ModifyUser], [ModifyTime]) VALUES (N'086ee328-5a15-40b0-8e15-291093e2e8b1', N'09157352-1252-4964-8fee-479759a95db8', 2, N'org-edit', N'修改机构', N'btn_edit()', N'fa fa-pencil-square-o', N'/System/Organize/Form', NULL, 1, 10402, 0, 1, 1, 0, N'admin', CAST(N'2017-04-02 09:38:32.333' AS DateTime), N'admin', CAST(N'2017-04-02 09:38:32.333' AS DateTime))
INSERT [dbo].[Sys_Role] ([Id], [OrganizeId], [EnCode], [Type], [Name], [AllowEdit], [DeleteMark], [IsEnabled], [Remark], [SortCode], [CreateUser], [CreateTime], [ModifyUser], [ModifyTime]) VALUES (N'55440eec-5622-491b-9ade-879dae179c23', N'67ccf447-0f20-4cf8-9159-a5552cf7dc10', N'implement', 1, N'实施人员', 1, 0, 0, NULL, 5, N'admin', NULL, N'admin', CAST(N'2017-06-05 17:33:13.370' AS DateTime))
INSERT [dbo].[Sys_Role] ([Id], [OrganizeId], [EnCode], [Type], [Name], [AllowEdit], [DeleteMark], [IsEnabled], [Remark], [SortCode], [CreateUser], [CreateTime], [ModifyUser], [ModifyTime]) VALUES (N'78516ecc-e0ad-4f7a-a107-6a4a4ebe64a7', N'771b628b-e43c-4592-b1ef-70ea23b0e3f2', N'developer', 0, N'系统开发人员', 0, 0, 1, NULL, 3, N'admin', NULL, NULL, NULL)
INSERT [dbo].[Sys_Role] ([Id], [OrganizeId], [EnCode], [Type], [Name], [AllowEdit], [DeleteMark], [IsEnabled], [Remark], [SortCode], [CreateUser], [CreateTime], [ModifyUser], [ModifyTime]) VALUES (N'97223b06-6b7a-47fb-b74c-173f52c519c4', N'339a409a-a5a6-49b4-9071-86d7699a9ddd', N'fileattache', 1, N'档案专员', 1, 0, 1, NULL, 7, N'admin', CAST(N'2017-03-13 16:08:55.867' AS DateTime), N'admin', CAST(N'2017-03-13 16:08:55.867' AS DateTime))
INSERT [dbo].[Sys_RoleAuthorize] ([Id], [RoleId], [ModuleId], [CreateUser], [CreateTime]) VALUES (N'018c7b35-d79b-4b48-9fa5-dd44375875c4', N'a3a3857c-51fb-43a6-a7b5-3a612e887b3a', N'87f0aa68-fa57-43cb-84d0-e979fc4af24c', N'admin', CAST(N'2017-04-04 21:10:58.337' AS DateTime))
INSERT [dbo].[Sys_RoleAuthorize] ([Id], [RoleId], [ModuleId], [CreateUser], [CreateTime]) VALUES (N'04a8f35b-e43b-4f06-aa08-2bfc272fe2a1', N'a3a3857c-51fb-43a6-a7b5-3a612e887b3a', N'85438f3b-0634-4b17-b778-aee3a5819669', N'admin', CAST(N'2017-03-28 16:47:59.850' AS DateTime))
INSERT [dbo].[Sys_RoleAuthorize] ([Id], [RoleId], [ModuleId], [CreateUser], [CreateTime]) VALUES (N'083f6bd4-c086-486c-b25a-1f2e8a3a9563', N'a3a3857c-51fb-43a6-a7b5-3a612e887b3a', N'216d09a8-575f-43d1-85f6-acc025fa94b3', N'admin', CAST(N'2017-03-28 16:47:59.803' AS DateTime))
INSERT [dbo].[Sys_UserLogOn] ([Id], [UserId], [Password], [SecretKey], [PrevVisitTime], [LastVisitTime], [ChangePwdTime], [LoginCount], [AllowMultiUserOnline], [IsOnLine], [Question], [AnswerQuestion], [CheckIPAddress], [Language], [Theme]) VALUES (N'6bde15b3-88a9-4522-817e-3d5877130a05', N'd1ef3dcd-2c7d-4e8f-8f29-9f73625dd5df', N'670b14728ad9902aecba32e22fa4f6bd', N'juhgtdjc', CAST(N'2017-07-12 10:35:21.470' AS DateTime), CAST(N'2017-07-12 10:35:21.470' AS DateTime), CAST(N'2017-07-11 09:38:40.070' AS DateTime), 1040, 1, 1, N'lovecoding?', N'no', 1, NULL, NULL)
INSERT [dbo].[Sys_UserLogOn] ([Id], [UserId], [Password], [SecretKey], [PrevVisitTime], [LastVisitTime], [ChangePwdTime], [LoginCount], [AllowMultiUserOnline], [IsOnLine], [Question], [AnswerQuestion], [CheckIPAddress], [Language], [Theme]) VALUES (N'e86c5360-b710-475a-8f80-6f7e0d0b0a1a', N'897c3c01-acaf-4169-ad2f-b3e101aae3ea', N'670b14728ad9902aecba32e22fa4f6bd', N'juhgtdjc', CAST(N'2017-03-30 14:14:37.153' AS DateTime), CAST(N'2017-03-30 14:14:37.153' AS DateTime), NULL, 3, 0, 1, N'我是谁？', N'王菲', 0, NULL, NULL)
INSERT [dbo].[Sys_UserRoleRelation] ([Id], [UserId], [RoleId], [CreateUser], [CreateTime]) VALUES (N'45e0a953-fd82-42f4-afe5-cbbbd2a263b0', N'd1ef3dcd-2c7d-4e8f-8f29-9f73625dd5df', N'a3a3857c-51fb-43a6-a7b5-3a612e887b3a', N'admin', CAST(N'2017-01-20 09:37:08.343' AS DateTime))
INSERT [dbo].[Sys_UserRoleRelation] ([Id], [UserId], [RoleId], [CreateUser], [CreateTime]) VALUES (N'5c7b0e32-9dd5-40d8-82ec-e26a331d6059', N'897c3c01-acaf-4169-ad2f-b3e101aae3ea', N'ed66f99c-d1bd-4fe3-948a-6520a5d6b7d9', N'admin', CAST(N'2017-03-25 16:23:57.783' AS DateTime))
INSERT [dbo].[Sys_UserRoleRelation] ([Id], [UserId], [RoleId], [CreateUser], [CreateTime]) VALUES (N'b37e496a-918b-4876-a09e-22449aac1bb7', N'897c3c01-acaf-4169-ad2f-b3e101aae3ea', N'97223b06-6b7a-47fb-b74c-173f52c519c4', N'admin', CAST(N'2017-03-25 16:23:57.810' AS DateTime))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Item', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Item', @level2type=N'COLUMN',@level2name=N'EnCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Item', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'层次' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Item', @level2type=N'COLUMN',@level2name=N'Layer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Item', @level2type=N'COLUMN',@level2name=N'SortCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否树形菜单' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Item', @level2type=N'COLUMN',@level2name=N'IsTree'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'删除标记' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Item', @level2type=N'COLUMN',@level2name=N'DeleteMark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否启用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Item', @level2type=N'COLUMN',@level2name=N'IsEnabled'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Item', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Item', @level2type=N'COLUMN',@level2name=N'CreateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Item', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Item', @level2type=N'COLUMN',@level2name=N'ModifyUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Item', @level2type=N'COLUMN',@level2name=N'ModifyTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_ItemsDetail', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_ItemsDetail', @level2type=N'COLUMN',@level2name=N'ItemId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_ItemsDetail', @level2type=N'COLUMN',@level2name=N'EnCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'选项名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_ItemsDetail', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否默认' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_ItemsDetail', @level2type=N'COLUMN',@level2name=N'IsDefault'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_ItemsDetail', @level2type=N'COLUMN',@level2name=N'SortCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'删除标记' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_ItemsDetail', @level2type=N'COLUMN',@level2name=N'DeleteMark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否启用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_ItemsDetail', @level2type=N'COLUMN',@level2name=N'IsEnabled'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_ItemsDetail', @level2type=N'COLUMN',@level2name=N'CreateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_ItemsDetail', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_ItemsDetail', @level2type=N'COLUMN',@level2name=N'ModifyUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_ItemsDetail', @level2type=N'COLUMN',@level2name=N'ModifyTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Log', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发生时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Log', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志等级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Log', @level2type=N'COLUMN',@level2name=N'LogLevel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'操作模块' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Log', @level2type=N'COLUMN',@level2name=N'Operation'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志消息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Log', @level2type=N'COLUMN',@level2name=N'Message'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'操作账户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Log', @level2type=N'COLUMN',@level2name=N'Account'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'真实姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Log', @level2type=N'COLUMN',@level2name=N'RealName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'操作人IP' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Log', @level2type=N'COLUMN',@level2name=N'IP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'操作人IP归属地' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Log', @level2type=N'COLUMN',@level2name=N'IPAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'堆栈信息' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Log', @level2type=N'COLUMN',@level2name=N'StackTrace'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Organize', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Organize', @level2type=N'COLUMN',@level2name=N'ParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'层次' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Organize', @level2type=N'COLUMN',@level2name=N'Layer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Organize', @level2type=N'COLUMN',@level2name=N'EnCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'全称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Organize', @level2type=N'COLUMN',@level2name=N'FullName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分类' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Organize', @level2type=N'COLUMN',@level2name=N'Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'负责人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Organize', @level2type=N'COLUMN',@level2name=N'ManagerId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'固话' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Organize', @level2type=N'COLUMN',@level2name=N'TelePhone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'微信' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Organize', @level2type=N'COLUMN',@level2name=N'WeChat'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'传真' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Organize', @level2type=N'COLUMN',@level2name=N'Fax'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'邮箱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Organize', @level2type=N'COLUMN',@level2name=N'Email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Organize', @level2type=N'COLUMN',@level2name=N'Address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Organize', @level2type=N'COLUMN',@level2name=N'SortCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'删除标记' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Organize', @level2type=N'COLUMN',@level2name=N'DeleteMark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否启用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Organize', @level2type=N'COLUMN',@level2name=N'IsEnabled'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Organize', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Organize', @level2type=N'COLUMN',@level2name=N'CreateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Organize', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Organize', @level2type=N'COLUMN',@level2name=N'ModifyUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Organize', @level2type=N'COLUMN',@level2name=N'ModifyTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'ParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'层次' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'Layer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'事件' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'JsEvent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'图标' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'Icon'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'链接' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'Url'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'模块类型：1-菜单 2-按钮' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'SortCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否公开' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'IsPublic'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否可用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'IsEnable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'允许编辑' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'IsEdit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'CreateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'ModifyUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Permission', @level2type=N'COLUMN',@level2name=N'ModifyTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'组织ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'OrganizeId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'EnCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分类：1-角色2-岗位' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'Type'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否可编辑' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'AllowEdit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'删除标记' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'DeleteMark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否启用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'IsEnabled'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'SortCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'CreateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'ModifyUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_Role', @level2type=N'COLUMN',@level2name=N'ModifyTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_RoleAuthorize', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_RoleAuthorize', @level2type=N'COLUMN',@level2name=N'RoleId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'模块ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_RoleAuthorize', @level2type=N'COLUMN',@level2name=N'ModuleId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_RoleAuthorize', @level2type=N'COLUMN',@level2name=N'CreateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_RoleAuthorize', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'账户' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'Account'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'真实姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'RealName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'昵称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'NickName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'头像' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'Avatar'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'性别' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'Gender'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'生日' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'Birthday'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'手机' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'MobilePhone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'邮箱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'Email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'签名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'Signature'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'Address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'领导ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'CompanyId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'组织ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'DepartmentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否启用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'IsEnabled'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'SortCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'删除标记' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'DeleteMark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'CreateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'ModifyUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Sys_User', @level2type=N'COLUMN',@level2name=N'ModifyTime'
GO
