
@{
    ViewBag.Title = "ComonDepend";
    Layout = "~/Areas/TestCenterSystem/Views/DataItem/ItemTest.cshtml";
}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="~/Content/layui/css/layui.css" rel="stylesheet" />
<link href="~/Content/framework/css/console.css" rel="stylesheet" />
<link href="~/Content/framework/css/animate.css" rel="stylesheet" />
<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<script src="~/Content/jquery/jquery.min.js"></script>
<script src="~/Content/layui/layui.js"></script>
<script src="~/Content/framework/js/global.js"></script>
<div class="panel-body">
    <div id="toolbar" class="elight-table-toolbar">
        <div class="layui-btn-group">
            <button class="layui-btn layui-btn-primary layui-btn-small" onclick="btn_mapping_add()"><i class="layui-icon">&#xe654;</i>添加映射 </button>
            <button class="layui-btn layui-btn-primary layui-btn-small" onclick="btn_dependinfo()"><i class="layui-icon">&#xe60a;</i>映射参考 </button>
            @*<button class="layui-btn layui-btn-primary layui-btn-small" onclick="btn_select()"><i class="layui-icon">&#xe60b;</i>查看 </button>*@
        </div>
    </div>
    <table id="gridList" class="layui-form layui-table table-hover elight-table" style="background-color:white;" lay-skin="line">
        <thead>
            <tr>
                <th>顺序号</th>
                <th>数据项代码</th>
                <th>数据项名称</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="content"></tbody>
    </table>
    <div id="paged" style="padding-left:20px;"></div>
</div>
<!--内容模板-->
<script id="contentTpl" type="text/html">
    {{#  layui.each(d.list, function(index, item){ }}
    <tr>
        <td>{{item.Account}}</td>
        <td>{{item.RealName}}</td>
        <td>{{item.DeptName}}</td>
        <td>
            <button class="toolbar-search-button layui-btn layui-btn-normal layui-btn-small" onclick="btn_select(id)">查看</button>
        </td>
    </tr>
    {{#  }); }}
    {{# if(d.list.length<=0) { }}
    <tr style="color: red">
        <td colspan="8">查无数据。</td>
    </tr>
    {{# } }}
</script>

<script>
    var paging;
    var count;
    layui.config({
        base: parent._baseUrl
    }).use(['form','paging'], function () {
        var form = layui.form();
        paging = layui.paging();
        initGrid();
    });

    function initGrid() {
        paging.init({
            url: '/System/User/Index',
            elem: '#content',
            tempElem: '#contentTpl',
            params: {
                //keyWord: $("#keyWord").val()
            },
            checkbox:false,
            pageConfig: {
                elem: '#paged',
                pageSize: 5
            },
            success: function (result) {
                count = result.count;
            },
            fail: function (msg) {
                top.layer.msg(msg);
            }
        });
    }
    function btn_select(id) {
        $.layerOpen({
            id: "detail",
            title: "查看数据项",
            width: "680px",
            height: "530px",
            content: "/TestCenterSystem/DataItem/Form?primaryKey=" + id,
            btn: null
        });
    }
    function btn_mapping_add() {
        $.layerOpen({
            id: "mapping",
            title: "添加映射",
            width: "700px",
            height: "400px",
            content: "/TestCenterSystem/DataItem/AddCommonDepend?ItemCount=" + count,
            yes: function (iBody) {
                iBody.find('#btnSubmit').click();
                initGrid();
            }
        });
    }
    function btn_dependinfo() {
        $.layerOpen({
            id: "mapping",
            title: "映射参考",
            width: "700px",
            height: "400px",
            content: "/TestCenterSystem/DataItemDepend/MappingRefrence",//?primaryKey=" + ids[0],
            btn: null
        });
    }
</script>


