<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- 软件名称 -->
  <add key="SoftwareName" value="首信医联连续治疗" />
  <!-- 用户登录信息保存模式：Session、Cookie -->
  <add key="LoginProvider" value="Cookie" />
  <!-- 用户登录信息保存时间（单位：分钟）-->
  <add key="LoginTimeout" value="1440" />
  <!-- 当前项目信息保存模式：Session、Cookie -->
  <add key="CurrentProject" value="Cookie" />
  <!-- 当前项目信息保存时间（单位：分钟）-->
  <add key="KeepProjectTimeout" value="1440" />

  
  
</appSettings>